<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            {%- if nav|length>1 or (page and (page.next_page or page.previous_page)) or config.repo_url %}
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}

            <!-- Main title -->

            <a class="navbar-brand" href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            {%- block site_nav %}
            {%- if nav|length>1 %}
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                {% for nav_item in nav %}
                {% if nav_item.children %}
                    <li class="dropdown{% if nav_item.active %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% for nav_item in nav_item.children %}
                            {% include "nav-sub.html" %}
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li {% if nav_item.active %}class="active"{% endif %}>
                        <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
            {%- endif %}
            {%- endblock %}

           
        </div>
    </div>
</div>
